<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<base href="/">
    <link rel="stylesheet" href="app.css" type="text/css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
		</script>
    <title>Laptop Checkout</title>
  </head>
  <body>
    <section id="laptopView">
      <!-- Import font-awesome icon -->
      <h1><i class="fa fa-laptop"></i> laptop<span>checkout</span></h1> 
      <ul id="laptopList"></ul>

      <form id="laptopInput">
        <input id="laptopNameInput" type="text" placeholder="Laptop Name">
        <input id="laptopNumInput" type="number" placeholder="Serial Number">
        <button>Add Laptop</button>
      </form>
    </section>

    <section id="checkoutView">
      <div class="leftAlign"><i id="homeButton" class="fa fa-arrow-left fa-2x"></i></div>

      <h1></h1>

      <div id="currentCheckout"></div>

      <form id="checkoutInput">
        <input id="userNameInput" type="text" placeholder="User Name">
        <input id="mgrNameInput" type="text" placeholder="Manager Who Approved">
        <input id="dueDateInput" placeholder="Due Date">
        <button>Check out</button>
      </form>

      <form id="returnButton">
        <button>Return Laptop</button>
      </form>

      <h3 id="checkoutHistoryTitle">Checkout History</h3>
      <ul id="checkoutList"></ul>
    </section>

    <script type="text/javascript" src="index.js"></script>
  </body>
</html>